* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f2f3f5;
    padding: 15px;
}
.layui-icon {
    margin-right: 10px;
}
.layui-card {
    font-size: 14px;
}
.layui-card-header {
    font-size: 18px;
}
.layui-form {
    width: 600px;

}
.layui-form-label {
    width: 100px;
}